  <h2>Books</h2>


  {{#if model}}
	  <table class="table table-responsive table-striped">
	  <thead>
	  <tr>
	  	<th>Title</th>
	  	<th>Author</th>
	  	<th width="100">Publish Date</th>
	  	<th width="75"></th>
	  </tr>
	  </thead>
	  <tbody>
	  </tbody>
	  </table>
  {{else}}
  	<div class="well">
  		<h4>No books in database</h4>
  		<p>You have not added any books into the database yet.</p>
  		<p>{{#link-to 'books.new' class="btn btn-success"}}New Book{{/link-to}}</p>
  	</div>
  {{/if}}
